<div><%= f.hidden_field :id, :value => @vote_id %></div>
<div><%= f.hidden_field :choice_id, :value => @choice_id %></div>
<div><%= f.hidden_field :question_id, :value => @question_id %></div>
<%= f.submit "", class: "vote_box" %>